body {
    height: 1200px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Nav Start*/
nav {
    display: flex;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1001;
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: black;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: white 1px solid;
    transition: border-color .3s, opacity .3s;
}

ul li a:hover {
    border-color: black;
    opacity: .5;
}

.hom {
    padding-bottom: 8px;
    border-bottom: black 1px solid;
}

ul li ul.dropdown {
    display: none;
    position: absolute;
    top: 45px;
    background-color: #d6d6d6;
    border-radius: 5px;
    width: 220px;
    height: 50px;
    translate: -90px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-right: 25px;
    list-style: none;
}

.text {
    width: 320px;
    position: absolute;
    bottom: -8px;
    left: 13px;
}

ul li:hover ul.dropdown {
    display: block;
}

.links li a:hover {
    opacity: .5;
}

.logo {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    cursor: default;
    position: absolute;
    left: 50px;
    top: 15px;
}

hr {
    width: 95%;
    padding: 0;
}

/*Nav End*/

/*----------------------------------------------------------*/

/*Courses Start*/

.tit {
    position: relative;
    left: 42%;
    top: 2%;
    font-size: 55px;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}

.coss-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 5%;
    width: 100%;
    height: 540px;
}

/*----------------------------------------------------------*/

/*C# Course Start*/

.coss-cs {
    width: calc(80% / 3);
    height: 87%;
    background-color: #d8d6d6;
    border-radius: 30px;
    text-align: center;
}

.coss-cs-cov {
    width: 100%;
    height: 50%;
    border-radius: 30px 30px 0px 0px;
}

.coss-cs-tit {
    position: relative;
    top: 3%;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}

.cs-cont-list {
    position: absolute;
    right: 990px;
    top: 320px;
}

.cs-list li {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5px;
    width: 250px;
    cursor: default;
}

.not {
    position: relative;
    top: 30%;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}


/*C# Course End*/

/*----------------------------------------------------------*/


/*max2D Course Start*/

.coss-m2d {
    width: calc(80% / 3);
    height: 87%;
    background-color: #d8d6d6;
    border-radius: 30px;
    text-align: center;
}

.coss-m2d-cov {
    width: 100%;
    height: 50%;
    border-radius: 30px 30px 0px 0px;
}

.coss-m2d-tit {
    position: relative;
    top: 3%;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}

.m2d-cont-list {
    position: absolute;
    right: 490px;
    top: 320px;
}

.m2d-list li {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5px;
    width: 300px;
    cursor: default;
}

/*max2D Course End*/

/*-----------------------------------------------------------*/


/*Unity Course Start*/

.coss-uni {
    width: calc(80% / 3);
    height: 87%;
    background-color: #d8d6d6;
    border-radius: 30px;
    text-align: center;
}

.coss-uni-cov {
    width: 100%;
    height: 50%;
    border-radius: 30px 30px 0px 0px;
}

.coss-uni-tit {
    position: relative;
    top: 3%;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}

.uni-cont-list {
    position: absolute;
    right: 115px;
    top: 320px;
}

.uni-list li {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 5px;
    cursor: default;
}

/*Unity Course End*/


/*-----------------------------------------------------------*/

/*Courses End*/


.lst-sec {
    position: absolute;
    top: 127.3%;
    display: flex;
    width: 80%;
    margin-left: 10%;
    height: 600px;
}

.sec-tit {
    position: relative;
    left: 45%;
    top: 3%;
    width: 100px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}

.list-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 4.25%;
    top: 15%;
    width: 100%;
    height: 65%;
}


.l1 {
    position: absolute;
    bottom: 75%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.gms-list {
    list-style-type: none;
}

.gms-list li {
    padding-bottom: 15px;
}

.gms-list li a {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}

.gms-list li a:hover {
    text-decoration: underline;
}

/*Games End*/

/*-------------------------------------------------------*/


.l2 {
    position: absolute;
    bottom: 75%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.cate-list {
    list-style-type: none;
}

.cate-list li {
    padding-bottom: 15px;
}

.cate-list li a {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}

.cate-list li a:hover {
    text-decoration: underline;
}

/*Categories End*/

/*-------------------------------------------------------*/



.l3 {
    position: absolute;
    bottom: 75%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.cont-list {
    list-style-type: none;
}

.cont-list li {
    padding-bottom: 15px;
}

.cont-list li a {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}

.cont-list li a:hover {
    text-decoration: underline;
}

/*Contact End*/

/*-------------------------------------------------------*/

footer {
    position: relative;
    top: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #d8d6d6;
    cursor: default;
}

.foot {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

::selection {
    color: black;
    background-color: #938b8b;
}

/*----------------------------------------------------------------------------------------------------*/