body {
    height: 1500px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*Nav Start*/
nav {
    display: flex;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1001;
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: black;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: white 1px solid;
    transition: border-color .3s, opacity .3s;
}

ul li a:hover {
    border-color: black;
    opacity: .5;
}

.hom {
    padding-bottom: 8px;
    border-bottom: black 1px solid;
}

ul li ul.dropdown {
    display: none;
    position: absolute;
    top: 45px;
    background-color: #d6d6d6;
    border-radius: 5px;
    width: 220px;
    height: 50px;
    translate: -90px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    padding-right: 25px;
}

.text {
    width: 320px;
    position: absolute;
    bottom: -8px;
    left: 13px;
}

ul li:hover ul.dropdown {
    display: block;
}

.links li a:hover {
    opacity: .5;
}

.logo {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    cursor: default;
    position: absolute;
    left: 50px;
    top: 15px;
}

hr {
    width: 95%;
    padding: 0;
}

/*Nav End*/

/*--------------------------------------------------------------------------------------------*/


.tit {
    position: relative;
    top: 3%;
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}

.imgs-cont {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 50%;
    height: 540px;
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 45%;
    gap: 20px;
}

.img1 {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    background-color: red;
    border-radius: 30px;
}

.img2 {
    grid-column: 5 / 9;
    grid-row: 1 / 5;
    background-color: green;
    border-radius: 30px;
}

.img3 {
    grid-column: 1 / 5;
    grid-row: 5 / 9;
    background-color: blue;
    border-radius: 30px;
}

.img4 {
    grid-column: 5 / 9;
    grid-row: 5 / 9;
    background-color: yellow;
    border-radius: 30px;
}

.gp1 {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.gp2 {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.gp3 {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.gp4 {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.desc {
    position: relative;
    bottom: 30%;
    left: 5%;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    width: 40%;
    cursor: default;
}

.btn {
    position: relative;
    bottom: 25%;
    left: 15%;
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: black 1px solid;
    transition: background-color .3s;
    padding: 0px;
}

.btn:hover {
    background-color: black;
}

.btn-txt {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-decoration: none;
    padding: 15px;
    transition: color .3s;
    width: 100%;
    text-align: center;
}

.btn-txt:hover {
    color: white;
}

.lst-sec {
    position: absolute;
    top: 155%;
    display: flex;
    width: 80%;
    margin-left: 10%;
    height: 600px;
}

.sec-tit {
    position: relative;
    left: 45%;
    top: 3%;
    width: 100px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    cursor: default;
}

.list-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 4.25%;
    top: 15%;
    width: 100%;
    height: 65%;
}


.l1 {
    position: absolute;
    bottom: 75%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.gms-list {
    list-style-type: none;
}

.gms-list li {
    padding-bottom: 15px;
}

.gms-list li a {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}

.gms-list li a:hover {
    text-decoration: underline;
}

/*Games End*/

/*-------------------------------------------------------*/


.l2 {
    position: absolute;
    bottom: 75%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.cate-list {
    list-style-type: none;
}

.cate-list li {
    padding-bottom: 15px;
}

.cate-list li a {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}

.cate-list li a:hover {
    text-decoration: underline;
}

/*Categories End*/

/*-------------------------------------------------------*/



.l3 {
    position: absolute;
    bottom: 75%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.cont-list {
    list-style-type: none;
}

.cont-list li {
    padding-bottom: 15px;
}

.cont-list li a {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
}

.cont-list li a:hover {
    text-decoration: underline;
}

/*Contact End*/

/*-------------------------------------------------------*/


footer {
    position: relative;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #d8d6d6;
    cursor: default;
}

.foot {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

::selection {
    color: black;
    background-color: #938b8b;
}

/*----------------------------------------------------------------------------------------------------*/

/*Images Container End*/